doctype html
html(ng-app="myApp")
	head
		title MrSci
	body(ng-controller="MainCtrl")
	h1 MrSci
	h2 Nanjing University
	label(for="query") 请输入期刊的名字
	input(ng-model="journalName")
	button(ng-click=sayHello) search
	br
	label 请选择排序方式
	select(ng-model="orderProp")
		option(value="level") rank in level
		option(value="subject") rank in subject
	ul
		li(ng-repeat="journal in journals | orderBy: orderProp")
			span {{ journal.name }}
			div {{ journal.level }}
			div {{ journal.indexfactor }}
			div {{ journal.subject }}

	script(src="/assets/bundle.js")