doctype html
html(ng-app="myApp")
	head
		title MrSci
	body(ng-controller="MainCtrl")
	h1 MrSci
	label(for="query")
	input(id="query" ng-model="query")
	ul
		li(ng-repeat="journal in journals")
			span {{ journal.name | filter: query }}

	script(src="/assets/bundle.js")