doctype html
html(ng-app="myApp")
	head
		title MrSci
		link(rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css")
	body
	h1 MrSci
	h2 Nanjing University
	div(ng-controller="MainCtrl" class="container")
		div(class="row")
			div(class="col-md-4")
				form
					div(class="form-group")
						label(for="query")
						input(ng-model="journalName" placeholder="请输入期刊名称" class="form-control")

				select(ng-model="orderProp" class="form-control")
					option(value="level") 按分区由高往低
					option(value="subject") 按类别
				br
				button(ng-click="sayHello()" class="btn btn-primary") search

			div(class="col-md-6")
				ul(class="list-unstyled")
					li(ng-repeat="journal in journals | orderBy: orderProp")
						h3(class="bg-primary") {{ journal.name }}
						div {{ journal.level }}
						div {{ journal.indexfactor }}
						div {{ journal.subject }}

	script(src="/assets/bundle.js")