doctype html
html(ng-app="myApp")
	head
		title MrSci
		link(rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css")
	body
	h1(class="container") MrSci
	h2(class="container") Nanjing University
	main
	script(src="/assets/bundle.js")