doctype html
html(ng-app="myApp")
	head
		title MrSci
		link(rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css")
	body
	main
	script(src="/assets/bundle.js")